# LA ID
LA_CODE=000  # LA to change / this your LA 3 digit code

# Within 'Subscription details' block, ensure that your 'Status' has been set to 'Active' by the DfE
# https://pp-find-and-use-an-api.education.gov.uk/

# LA DfE config

CLIENT_ID="<dfe-supplied-value>" # 'Native OAuth Application-flow' - 'OAuth Client ID'
CLIENT_SECRET="<dfe-supplied-value>" # 'Native OAuth Application-flow' - 'Primary key' or 'Secondary key'
SUPPLIER_KEY="<dfe-supplied-value>" # From the 'subscription key' block - 'Primary key' or 'Secondary key'

# Default DfE endpoint 
API_ENDPOINT="https://pp-api.education.gov.uk/children-in-social-care-data-receiver-test/1" # 'Base URL'

SCOPE="<dfe-supplied-value>" # 'OAuth Scope'
TOKEN_ENDPOINT="<dfe-supplied-value>" # 'OAuth token endpoint' 



# LA DB related

USER_SERVER="ESLLREPORTS04V" # LA to change / this is the SystemC default currently
USER_DATABASE="HDM_Local" # LA to change / this is the SystemC default currently

# Optional direct db connection str override
SQL_CONN_STR=


# Development|Testing

# False if running development or verbose output
DEBUG=true # set false to supress verbose console feedback/output
USE_PARTIAL_PAYLOAD=false # toggle switch to move from staging payload field "json_payload"(false) to "partial_json_payload"(true)

TABLE_NAME="ssd_api_data_staging_anon" # IMPORTANT: This must remain _anon until LIVE data use
BATCH_SIZE=100
